# use glob syntax.
syntax: glob
node_modules
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store
.cache

# logs
*.log

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders

# ensime/emacs conf files
.ensime
.scala_dependencies

# building
target
null
tmp*
dist
test-output

# sbt
.cache
.history
.lib/
dist/*
target
lib_managed
src_managed
project/boot
project/plugins/project

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ
*.eml
*.iml
*.ipr
*.iws
.idea

# Scala-IDE specific
.scala_dependencies
.worksheet

# Pax Runner (for easy OSGi launching)
runner
